@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-main: 'Figtree', sans-serif;
	--header-height: 95px;

	--color-background: #06000f;
	--color-text: #ffffff;
}

@layer utilities {
	.navbar-projects {
		background: #ffffff03;
		box-shadow: rgba(31, 38, 135, 0.15) 0px 8px 32px;
		backdrop-filter: blur(15px);
		border-radius: 50px;
		border: 1px solid rgba(255, 255, 255, 0.161);
	}
	.h1-shadow {
		text-shadow: 0 0 2px #ffffff1a, 0 0 4px #ffffff4d, 0 0 8px #fff3,
			0 0 136px #783cff66;
	}

	.div-shadow {
		box-shadow: 0 0 2px #ffffff1a, 0 0 4px #ffffff4d, 0 0 8px #fff3,
			0 0 136px #783cff66;
	}

	.styled-checkbox {
		position: absolute;
		opacity: 0;

		& + label {
			position: relative;
			cursor: pointer;
			padding: 0;
		}

		& + label:before {
			content: '';
			display: inline-block;
			vertical-align: text-top;
			width: 22px;
			height: 22px;
			background: white;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 8px;
		}

		&:hover + label:before {
			background: #f9f9f9;
		}

		&:checked + label:before {
			background: #5f2acf;
		}

		&:checked + label:after {
			content: '';
			position: absolute;
			left: 7px;
			top: 11px;
			background: white;
			width: 2px;
			height: 2px;
			box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
				4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
			transform: rotate(45deg);
		}
	}

	.main-passwords::before {
		content: '';
		display: block;
		position: absolute;
		left: -50px;
		top: -50px;
		width: calc(100% + 25%);
		height: 100%;
		background-color: #e9e9ff;
		border-radius: 30px;
		z-index: -1;
	}

	.password-button {
		margin-top: 30px;
		padding: 18px;
		border-radius: 15px;
		outline: none;
		border: 0;
		width: 100%;
		font-size: 16px;
		font-weight: 600;
		color: #000;
		background: #60f48d;
		background: linear-gradient(90deg, #60f48d 0%, #76f4e8 100%);
		cursor: pointer;
		transition: all 0.1s ease-in-out;
		box-shadow: 0 10px 10px #30ffba6f;

		&:hover {
			transform: scale(1.02);
		}

		&:active {
			transform: scale(0.99);
			box-shadow: 0 10px 10px #30ffba33;
		}
	}

	.div-center {
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(100vh - var(--header-height));
	}
}

html,
body,
#root {
	font-family: var(--font-main);
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: var(--color-background);
	color: var(--color-text);
}

header {
	height: var(--header-height);
}
